<p id="notice"><%= notice %></p>

<table class="blue_table">
  <tr>
    <th>Param Name</th>
    <th>Param Value</th>
  </tr>

<% parse_param(@product_param.param).each do |key, value| %>
  <tr>
    <td><%= key %></td>
    <td><%= value %></td>
  </tr>
<% end %>

</table>

<%= link_to 'Back', product_params_path %>
